In [1]:
import numpy as np
import pandas as pd

In [2]:
old = pd.read_csv('evaluation_old.txt')
old.head()

     dist_x    dist_y   max_height
0  4.312440  1.285980     0.609880
1  0.521842  0.094830     0.296076
2  1.430000  0.536093     0.296076
3  0.395915 -0.153555     0.296076
4 -0.000003  0.000001     0.296076

In [3]:
new = pd.read_csv('evaluation.txt')
new.head()

    dist_x   dist_y   max_height
0  6.63267 -5.30750     0.576033
1  9.38530 -3.48176     0.296076
2  5.07331  1.26661     1.440630
3  8.18672 -4.23377     0.296076
4  9.20519  1.71965     0.296076

In [4]:
old['dist_x'].mean()

1.37530955

In [5]:
old['dist_x'].std()

1.37415329527219

In [6]:
new['dist_x'].mean()

8.198325999999998

In [7]:
new['dist_x'].std()

2.905220374874023

In [8]:
old[' dist_y'].mean()

0.33583

In [9]:
old[' dist_y'].std()

0.4986654424694608

In [10]:
new[' dist_y'].mean()

-1.2250334

In [11]:
new[' dist_y'].std()

2.5582893706397765

In [12]:
old[' max_height'].mean() - 0.296076

0.05707245000000005

In [13]:
old[' max_height'].std()

0.118163314711139

In [14]:
new[' max_height'].mean() - 0.296076

0.13790944999999993

In [15]:
new[' max_height'].std()

0.31548647526061363